/* --------------------------------------------------------------------- */

/* Style lines                                                           */

/* --------------------------------------------------------------------- */

/* The device container (covering deviceLabel, suffix, deviceActualTemperature, deviceSetTemperature */
.deviceContainer {
  color: #fff;
  display: block;
  font-size: large;
}

/* The current mode in brackets, i.e.: (heizt mit 27%) */
.deviceMode {
  color: #bdbdbd;
  font-size: medium;
}

.deviceLabel {
  /* put your styles here */
}

.deviceActualTemperature {
  /* put your styles here */
}

.deviceSetTemperature {
  /* put your styles here */
}

/* The errors displayed below the device information */
.faultReporting {
  color: #f00;
  font-weight: bold;
  font-size: small;
  display: block;
  line-height: 0.5;
  margin-bottom: 4pt;
}

/* --------------------------------------------------------------------- */

/* colors warnings                                                       */

/* --------------------------------------------------------------------- */

.MMM-Homematic-Thermostats .red {
  color: red;
}

.MMM-Homematic-Thermostats .green {
  color: green;
}

.MMM-Homematic-Thermostats .blue {
  color: blue;
}

.MMM-Homematic-Thermostats .yellow {
  color: yellow;
}

.MMM-Homematic-Thermostats .white {
  color: white;
}
